<h1>Une erreur est survenue</h1>

{% for e in bundle.exceptions %}
    <h2>{{e.message}}</h2>
    Déclanchée par {{e.file}}:{{e.line}}<br>
    <h2>Calltrace</h2>
    {% for ins in e.getTrace() %}
        {{ins.file}}:{{ins.line}}<br>
    {% endfor %}
{% endfor %}
